parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#3 \\$description of class Veliu\\\\RateManu\\\\Domain\\\\Food\\\\Command\\\\CreateFood constructor expects non\\-empty\\-string\\|null, string\\|null given\\.$#"
			count: 1
			path: src/Application/Request/CreateFoodRequest.php

		-
			message: "#^Parameter \\#1 \\$key of method Doctrine\\\\Common\\\\Collections\\\\Collection\\<int,Veliu\\\\RateManu\\\\Domain\\\\User\\\\GroupRelation\\>\\:\\:remove\\(\\) expects int, Veliu\\\\RateManu\\\\Domain\\\\User\\\\GroupRelation given\\.$#"
			count: 1
			path: src/Domain/Group/Group.php

		-
			message: "#^Property Veliu\\\\RateManu\\\\Domain\\\\Group\\\\Group\\:\\:\\$userGroups is never written, only read\\.$#"
			count: 1
			path: src/Domain/Group/Group.php

		-
			message: "#^Parameter \\#1 \\$key of method Doctrine\\\\Common\\\\Collections\\\\Collection\\<int,Veliu\\\\RateManu\\\\Domain\\\\User\\\\GroupRelation\\>\\:\\:remove\\(\\) expects int, Veliu\\\\RateManu\\\\Domain\\\\User\\\\GroupRelation given\\.$#"
			count: 1
			path: src/Domain/User/User.php

		-
			message: "#^Cannot access offset 'path' on array\\{scheme\\?\\: string, host\\?\\: string, port\\?\\: int\\<0, 65535\\>, user\\?\\: string, pass\\?\\: string, path\\?\\: string, query\\?\\: string, fragment\\?\\: string\\}\\|false\\.$#"
			count: 1
			path: tests/Application/RestApi/Food/FoodTest.php

		-
			message: "#^Parameter \\#1 \\$uuid of static method Symfony\\\\Component\\\\Uid\\\\Uuid\\:\\:isValid\\(\\) expects string, int\\|string\\|null given\\.$#"
			count: 2
			path: tests/Application/RestApi/Food/FoodTest.php
